.main-container{
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .banner{
    height: 300px;
    width: 100%;
    background-image: url('../assets/product-list-header.jpg');
    background-size: cover;
    background-position: center;
  
    display: flex;
    justify-content:center;
    align-items: end;
  }
  .banner-text{
    width: 70%;
    height: 80%;
    color: white;
  }
  .banner-text h1{
    font-size: 64px;
    font-weight: 700;
  }
  .banner-text p{
    font-size: 18px;
    width: 490px;
  }
  .bikes-list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    width: 70%;
  }
  .bikes-nav{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: start;
  }
  .bikes-nav ul{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 0;
  }
  .bikes-nav ul li{
    list-style: none;

  }
  .bikes-nav ul li a{
    text-decoration:none;
    color: black;
    font-size: 20px;
    padding: 10px;

  }
  .bikes-nav ul li .line{
    height: 5px;
    background-color:  gray;
  }
  