.body{
    max-width: 100%;
}
h1{
    text-align: center;
}
table{
    width: 100%;
    table-layout: fixed;
    border: 1px solid;
    border-radius: 3px;
    background-color: green;
}
td{
    
    border: 1px solid yellow;
    padding: 10px;
    color: white;
}
th{
    color: white;
}
img{
    width: 33.33%;
}
hr{
    border: none;
    border-top: 2px solid black;
    margin: 20px 0;
}
p{
    margin: 10px 15px;
}
.a1{
    color: red;
}
.a2{
    color: yellow;
}
.a3{
    color: brown;
}
.a4{
    color: blue;
}


.header{
    background-color: #5fe411;
    padding: 5px 15px;
    
}
.main{
    overflow: auto;
    justify-content: stretch;
  }
.menu{
    float: left;
    width: 70%;
}
.navbar {
    width: 200px;
    background-color: rgb(128, 104, 208);
    float: left;
    width: 30%;
    display: none;
    
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    padding: 10px;
  }
  .footer{
    background-color: gray;
    padding: 10px 15px;
  }
 

