*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navigation{
    width: 100%;
    height: 10vh;
    align-items: center;

    background-color:rgb(7, 18, 21);
    color: white;
}
.navigation__bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 25;
    align-items: center;
}
.navigation__bar-links{
    width: 50%;
}
.navigation__bar-links ul{
    display: flex;
    justify-content: space-around;
}
.navigation__bar-links ul li{
    list-style: none;
}
.navigation__bar-links ul li a{
    text-decoration: none;
    color:white;
}
.navigation__bar-log{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}
.navigation__bar-log-btn button{
    width: 150%;
    height: 5vh;
    background-color: rgb(17, 17, 128);
    color: white;
    border: none;
    cursor: pointer;
}
.navigation__bar-log-in{
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-color: white;
}
.navigation__bar-log-in img{
   width: 15%;
   height: 4vh;
}
.navigation__bar-log-in a{
    text-decoration: none;
    color: black;
}
/* home section */
.home {
    width: 100%;
    height: 90vh;
    background-image: url('../assets/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     
    position: relative;
}
/* .side__bar */
.side__bar{
    width: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: rotate(-90deg);

    position: absolute;
    top: 270px;
    left: -200px;
}
.side__bar-logo{
    width: 50%;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgb(7, 18, 21, 0.8);
}
.side__bar-logo p{
    font-size: larger;
    font-family: sans-serif;
}
.side__bar-logo span{
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.side__bar-btn{
    background-color: rgb(17, 17, 128);
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.side__bar-btn a{
    text-decoration: none;
    color: white;
    font-size: large;
    
}
/* section__intro */
.section__intro{
    position: relative;
    top: 200px;
    left: 250px;

    width: 40%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    color: white;
    background-color: rgb(7, 18, 21, 0.5);
}
.section__intro{
    padding: 20px 25px;
}
.section__intro-text span{
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section__intro-text p{
    font-size: 48px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    padding: 20px 0px;
}
.section__intro-btn{
    width: 30%;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgb(17, 17, 128);
}
.section__intro-btn a{
    color: white;
    text-decoration: none;
    font-size: large;
}

/* /-------------About-----------/ */

.section__about{
    width: 100%;
    height: 100vh;
    padding: 30px 30px;

    background-color: white;
    border: 2px solid green;

    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.section__about-banner{
    width: 50%;
    height: 100%;

    background-image: url(../assets/home.jpg);

    border: 2px solid red;
}
.section__about-paragraph{
    width: 50%;
    height: 100%;
    padding: 20px 20px;

    border: 2px solid orange;
}
